<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="fileScannerSection"
             type="FileScanner.Configuration.FileScannerSection, FileScanner"/>
  </configSections>
  <fileScannerSection culture="ru-RU">
    <directories>
      <directory path="D:\\AnalyzedDirectory"/>
    </directories>
    <rules defaultDirectory="D:\\AnalyzedDirectory\\Default">
      <rule template="A-*" destinationDirectory="D:\\AnalyzedDirectory\\A" isIndexNumberRequired="false" isShiftDateRequired="false"/>
      <rule template="B-*" destinationDirectory="D:\\AnalyzedDirectory\\B" isIndexNumberRequired="true" isShiftDateRequired="true"/>
    </rules>
  </fileScannerSection>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>